.olLayerGoogleCopyright {
	BOTTOM: 2px; RIGHT: 3px; LEFT: auto
}
.olLayerGoogleV3 {
	BOTTOM: 0px; RIGHT: 0px !important
}
.olLayerGooglePoweredBy {
	BOTTOM: 2px; LEFT: 2px
}
.olLayerGoogleV3 {
	BOTTOM: 0px !important
}
