DIV.olMap {
	Z-INDEX: 0; PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; CURSOR: default; PADDING-TOP: 0px !important
}
DIV.olMapViewport {
	TEXT-ALIGN: left
}
DIV.olLayerDiv {
	-moz-user-select: none
}
.olLayerGoogleCopyright {
	BOTTOM: 2px; LEFT: 2px
}
.olLayerGooglePoweredBy {
	BOTTOM: 15px; LEFT: 2px
}
.olControlAttribution {
	POSITION: absolute; BOTTOM: 4.5em; DISPLAY: block; FONT-SIZE: smaller; RIGHT: 3px
}
.olControlScale {
	POSITION: absolute; BOTTOM: 3em; DISPLAY: block; FONT-SIZE: smaller; RIGHT: 3px
}
.olControlScaleLine {
	POSITION: absolute; BOTTOM: 15px; DISPLAY: block; FONT-SIZE: xx-small; LEFT: 10px
}
.olControlScaleLineBottom {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: black 2px solid; MARGIN-TOP: -2px; BORDER-TOP: black 2px solid; BORDER-RIGHT: black 2px solid
}
.olControlScaleLineTop {
	BORDER-BOTTOM: black 2px solid; TEXT-ALIGN: center; BORDER-LEFT: black 2px solid; BORDER-TOP: medium none; BORDER-RIGHT: black 2px solid
}
.olControlPermalink {
	POSITION: absolute; BOTTOM: 1.5em; DISPLAY: block; FONT-SIZE: smaller; RIGHT: 3px
}
DIV.olControlMousePosition {
	POSITION: absolute; BOTTOM: 0em; DISPLAY: block; FONT-FAMILY: Arial; FONT-SIZE: smaller; RIGHT: 3px
}
.olControlOverviewMapContainer {
	POSITION: absolute; BOTTOM: 0px; RIGHT: 0px
}
.olControlOverviewMapElement {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #00008b; PADDING-LEFT: 10px; PADDING-RIGHT: 18px; PADDING-TOP: 10px; -moz-border-radius: 1em 0 0 0
}
.olControlOverviewMapMinimizeButton {
	BOTTOM: 80px; RIGHT: 0px
}
.olControlOverviewMapMaximizeButton {
	BOTTOM: 80px; RIGHT: 0px
}
.olControlOverviewMapExtentRectangle {
	BACKGROUND-IMAGE: url(img/blank.gif); BORDER-BOTTOM: red 2px dotted; BORDER-LEFT: red 2px dotted; OVERFLOW: hidden; BORDER-TOP: red 2px dotted; CURSOR: move; BORDER-RIGHT: red 2px dotted
}
.olControlOverviewMapRectReplacement {
	BACKGROUND-IMAGE: url(img/overview_replacement.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; OVERFLOW: hidden; CURSOR: move
}
.olLayerGeoRSSDescription {
	WIDTH: 100%; FLOAT: left; FONT-SIZE: 1em; OVERFLOW: auto
}
.olLayerGeoRSSClose {
	FONT-FAMILY: sans-serif; FLOAT: right; COLOR: gray; FONT-SIZE: 1.2em; MARGIN-RIGHT: 6px
}
.olLayerGeoRSSTitle {
	FLOAT: left; FONT-SIZE: 1.2em
}
.olPopupContent {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; OVERFLOW: auto; PADDING-TOP: 5px
}
.olControlNavToolbar {
	WIDTH: 0px; HEIGHT: 0px
}
.olControlNavToolbar DIV {
	POSITION: relative; WIDTH: 28px; DISPLAY: block; HEIGHT: 28px; TOP: 300px; LEFT: 6px
}
.olControlNavigationHistory {
	BACKGROUND-IMAGE: url(img/navigation_history.png); WIDTH: 24px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.olControlNavigationHistoryPreviousItemActive {
	BACKGROUND-POSITION: 0px 0px
}
.olControlNavigationHistoryPreviousItemInactive {
	BACKGROUND-POSITION: 0px -24px
}
.olControlNavigationHistoryNextItemActive {
	BACKGROUND-POSITION: -24px 0px
}
.olControlNavigationHistoryNextItemInactive {
	BACKGROUND-POSITION: -24px -24px
}
.olControlNavToolbar .olControlNavigationItemActive {
	BACKGROUND-IMAGE: url(img/panning-hand-on.png); BACKGROUND-REPEAT: no-repeat
}
.olControlNavToolbar .olControlNavigationItemInactive {
	BACKGROUND-IMAGE: url(img/panning-hand-off.png); BACKGROUND-REPEAT: no-repeat
}
.olControlNavToolbar .olControlZoomBoxItemActive {
	BACKGROUND-IMAGE: url(img/drag-rectangle-on.png); BACKGROUND-COLOR: orange; BACKGROUND-REPEAT: no-repeat
}
.olControlNavToolbar .olControlZoomBoxItemInactive {
	BACKGROUND-IMAGE: url(img/drag-rectangle-off.png); BACKGROUND-REPEAT: no-repeat
}
.olControlEditingToolbar {
	WIDTH: 200px; FLOAT: right; HEIGHT: 30px; RIGHT: 0px
}
.olControlEditingToolbar DIV {
	BACKGROUND-IMAGE: url(img/editing_tool_bar.png); MARGIN: 5px; WIDTH: 24px; BACKGROUND-REPEAT: no-repeat; FLOAT: right; HEIGHT: 24px
}
.olControlEditingToolbar .olControlNavigationItemActive {
	BACKGROUND-POSITION: -103px -23px
}
.olControlEditingToolbar .olControlNavigationItemInactive {
	BACKGROUND-POSITION: -103px 0px
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
	BACKGROUND-POSITION: -77px -23px
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
	BACKGROUND-POSITION: -77px 0px
}
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive {
	BACKGROUND-POSITION: -51px 0px
}
.olControlEditingToolbar .olControlDrawFeaturePathItemActive {
	BACKGROUND-POSITION: -51px -23px
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive {
	BACKGROUND-POSITION: -26px 0px
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
	BACKGROUND-POSITION: -26px -23px
}
DIV.olControlSaveFeaturesItemActive {
	BACKGROUND-IMAGE: url(img/save_features_on.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 1px
}
DIV.olControlSaveFeaturesItemInactive {
	BACKGROUND-IMAGE: url(img/save_features_off.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 1px
}
.olHandlerBoxZoomBox {
	BORDER-BOTTOM: red 2px solid; POSITION: absolute; FILTER: alpha(opacity=50); BORDER-LEFT: red 2px solid; BACKGROUND-COLOR: white; FONT-SIZE: 1px; BORDER-TOP: red 2px solid; BORDER-RIGHT: red 2px solid; opacity: 0.50
}
.olHandlerBoxSelectFeature {
	BORDER-BOTTOM: blue 2px solid; POSITION: absolute; FILTER: alpha(opacity=50); BORDER-LEFT: blue 2px solid; BACKGROUND-COLOR: white; FONT-SIZE: 1px; BORDER-TOP: blue 2px solid; BORDER-RIGHT: blue 2px solid; opacity: 0.50
}
.olControlPanPanel {
	TOP: 10px; LEFT: 5px
}
.olControlPanPanel DIV {
	BACKGROUND-IMAGE: url(img/pan-panel.png); POSITION: absolute; WIDTH: 18px; HEIGHT: 18px; CURSOR: pointer
}
.olControlPanPanel .olControlPanNorthItemInactive {
	BACKGROUND-POSITION: 0px 0px; TOP: 0px; LEFT: 9px
}
.olControlPanPanel .olControlPanSouthItemInactive {
	BACKGROUND-POSITION: 18px 0px; TOP: 36px; LEFT: 9px
}
.olControlPanPanel .olControlPanWestItemInactive {
	POSITION: absolute; BACKGROUND-POSITION: 0px 18px; TOP: 18px; LEFT: 0px
}
.olControlPanPanel .olControlPanEastItemInactive {
	BACKGROUND-POSITION: 18px 18px; TOP: 18px; LEFT: 18px
}
.olControlZoomPanel {
	TOP: 71px; LEFT: 14px
}
.olControlZoomPanel DIV {
	BACKGROUND-IMAGE: url(img/zoom-panel.png); POSITION: absolute; WIDTH: 18px; HEIGHT: 18px; CURSOR: pointer
}
.olControlZoomPanel .olControlZoomInItemInactive {
	BACKGROUND-POSITION: 0px 0px; TOP: 0px; LEFT: 0px
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
	BACKGROUND-POSITION: 0px -18px; TOP: 18px; LEFT: 0px
}
.olControlZoomPanel .olControlZoomOutItemInactive {
	BACKGROUND-POSITION: 0px 18px; TOP: 36px; LEFT: 0px
}
.olPopupCloseBox {
	BACKGROUND: url(img/close.gif) no-repeat; CURSOR: pointer
}
.olFramedCloudPopupContent {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; OVERFLOW: auto; PADDING-TOP: 5px
}
.olControlNoSelect {
	-moz-user-select: none
}
.olImageLoadError {
	FILTER: alpha(opacity=50); BACKGROUND-COLOR: pink; opacity: 0.5
}
.olCursorWait {
	CURSOR: wait
}
.olDragDown {
	CURSOR: move
}
.olDrawBox {
	CURSOR: crosshair
}
.olControlDragFeatureOver {
	CURSOR: move
}
.olDragDown {
	CURSOR: -moz-grabbing
}
.olControlLayerSwitcher {
	POSITION: absolute; BACKGROUND-COLOR: transparent; MARGIN-TOP: 3px; WIDTH: 20em; FONT-FAMILY: sans-serif; MARGIN-BOTTOM: 3px; COLOR: white; MARGIN-LEFT: 3px; FONT-SIZE: smaller; TOP: 25px; RIGHT: 0px; FONT-WEIGHT: bold
}
.olControlLayerSwitcher .layersDiv {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: darkblue; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 75px; HEIGHT: 100%; PADDING-TOP: 5px
}
.olControlLayerSwitcher .layersDiv .baseLbl {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 3px
}
.olControlLayerSwitcher .layersDiv .dataLbl {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 3px
}
.olControlLayerSwitcher .layersDiv .baseLayersDiv {
	PADDING-LEFT: 10px
}
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
	PADDING-LEFT: 10px
}
.olControlLayerSwitcher .maximizeDiv {
	TOP: 5px; RIGHT: 0px
}
.olControlLayerSwitcher .minimizeDiv {
	TOP: 5px; RIGHT: 0px
}
